@using mioPharma.Data.Enums
@model Medicamento

@{
    ViewData["Title"] = "Actualizando medicamento";
}

<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Agregar nuevo medicamento</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group text-center">
                        <img id="Img_MedicamentoPreview" style="max-width:150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Img_Medicamento" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="text-white input-group-text" style="background-color: #0D6EFD;" id="basic-addon1"><i class="bi bi-capsule"></i></span>
                        <input asp-for="Img_Medicamento" class="form-control" />
                        </div>
                        <span asp-validation-for="Img_Medicamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="text-white input-group-text" style="background-color: #0D6EFD;" id="basic-addon1"><i class="bi bi-capsule"></i></span>
                        <input asp-for="Nombre" class="form-control" />
                        </div>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="text-white input-group-text" style="background-color: #0D6EFD;" id="basic-addon1"><i class="bi bi-chat-left-text"></i></span>
                        <textarea asp-for="Descripcion" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Precio" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="text-white input-group-text" style="background-color: #0D6EFD;" id="basic-addon1"><i class="bi bi-currency-dollar"></i></span>
                        <input asp-for="Precio" class="form-control" />
                        </div>
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Existencias" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="text-white input-group-text" style="background-color: #0D6EFD;" id="basic-addon1"><i class="bi bi-archive"></i></span>
                        <input asp-for="Existencias" class="form-control" />
                        </div>
                        <span asp-validation-for="Existencias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Presentacion" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="text-white input-group-text" style="background-color: #0D6EFD;" id="basic-addon1"><i class="bi bi-prescription"></i></span>
                        <input asp-for="Presentacion" class="form-control" />
                        </div>
                        <span asp-validation-for="Presentacion" class="text-danger"></span>
                    </div>
                      <div class="form-group">
                        <select asp-for="EstadoM" hidden class="form-control" asp-items="Html.GetEnumSelectList<EstadoU>()"></select>
                        <span asp-validation-for="EstadoM" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Img_Composicion" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="text-white input-group-text" style="background-color: #0D6EFD;" id="basic-addon1"><i class="bi bi-file-earmark-medical"></i></span>
                        <input asp-for="Img_Composicion" class="form-control" />
                        </div>
                        <span asp-validation-for="Img_Composicion" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <img id="Img_ComposicionPreview" style="max-width:150px" />
                    </div>

                    <div class="form-group vstack gap-2 col-md-5 mx-auto mt-4">
                        <input type="submit" value="Actualizar" class="btn btn-outline-dark float-right" />
                        <a class="btn btn-outline-dark" asp-action="Index2">Regresar</a>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            var output = document.getElementById("Img_MedicamentoPreview");
            output.src = $("#Img_Medicamento").val();
        });
        $("#Img_Medicamento").on("change", function() {
            var output = document.getElementById('Img_MedicamentoPreview');
            output.src = $(this).val();
        })
        $(document).ready(function() {
            var output = document.getElementById("Img_ComposicionPreview");
            output.src = $("#Img_Composicion").val();
        });
        $("#Img_Composicion").on("change", function() {
            var output = document.getElementById('Img_ComposicionPreview');
            output.src = $(this).val();
        })
    </script>
}