<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Order Completed Succesfully</h2>
        <p>You can check all your ordera in the orders section of your profile</p>
        <hr />
        <p>Thank you</p>
    </div>
</div>