<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Order Completada con Exito</h2>
        <p>Puedes revisar todas tus ordenes en la sección de ordenes de tu perfil</p>
        <hr />
        <p>Gracias por tu compra</p>
    </div>
</div>