@using mioPharma.Data.Enums
@model Usuario
@{
    ViewData["Title"] = "Agregando Usuario";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4>Agregando Usuario</h4>
        <div class="row">
        <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                     <label asp-for="Nombre" class="form-label"></label>
                     <input placeholder="Ingresa tu Nombre" asp-for="Nombre" class="form-control"/>
                     <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                     <label asp-for="Apellido" class="form-label"></label>
                     <input placeholder="Ingresa tu Apellido" asp-for="Apellido" class="form-control"/>
                     <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                     <label asp-for="Correo" class="form-label"></label>
                     <input placeholder="example@gmail.com" asp-for="Correo" class="form-control"/>
                     <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                     <label asp-for="Clave" class="form-label"></label>
                     <input type="password" placeholder="Ingresa tu contraseña" asp-for="Clave" class="form-control"/>
                     <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoU" class="form-label"></label>
                    <select asp-for="TipoU" class="form-control" asp-items="Html.GetEnumSelectList<TipoU>()"></select>
                    <span asp-validation-for="TipoU" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstadoU" class="form-label"></label>
                    <select asp-for="EstadoU" class="form-control" asp-items="Html.GetEnumSelectList<EstadoU>()"></select>
                    <span asp-validation-for="EstadoU" class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="form-group my-2 py-3">
                <input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Usuarios">Regresar</a>
            </div>
            </form>
            </div>
        </div>
    </div>