@using mioPharma.Data.Enums
@model Usuario
@{
    ViewData["Title"] = "Editando Usuario";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4>Editando Usuario</h4>
        <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">


              <label asp-for="Nombre" class="form-label"></label>
                            <div class="input-group mb-3">
                                <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-person-check-fill"></i></i></span>
                     <input placeholder="Ingresa tu Nombre" asp-for="Nombre" class="form-control"/>
                     <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                        </div>
                <div class="form-group">
                     <label asp-for="Apellido" class="form-label"></label>
                            <div class="input-group mb-3">
                                <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-person-check-fill"></i></i></span>

                                <input placeholder="Ingresa tu Apellido" asp-for="Apellido" class="form-control"/>
                     <span asp-validation-for="Apellido" class="text-danger"></span>
                
                 </div>
                 </div>
                <div class="form-group">
                     <label asp-for="Correo" class="form-label"></label>
                            <div class="input-group mb-3">
                                <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-envelope-exclamation"></i></i></i></span>

                                <input placeholder="example@gmail.com"  asp-for="Correo" class="form-control"/>
                     <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                 </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                     <label asp-for="Clave" class="form-label"></label>
                            <div class="input-group mb-3">
                                <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-key"></i></i></i></i></span>
                     <input type="password" placeholder="Ingresa tu Apellido"  asp-for="Clave" class="form-control"/>
                     <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
                        </div>
                <div class="form-group">
                    <label asp-for="TipoU" class="form-label"></label>
                            <div class="input-group mb-3">
                                <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-exclamation-circle"></i></i></i></i></span>
                    <select asp-for="TipoU" class="form-control" asp-items="Html.GetEnumSelectList<TipoU>()"></select>
                    <span asp-validation-for="TipoU" class="text-danger"></span>
                </div>
                        </div>
                <div class="form-group">
                    <label asp-for="EstadoU" class="form-label"></label>
                            <div class="input-group mb-3">
                                <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-person-workspace"></i></i></i></i></i></span>

                    <select asp-for="EstadoU" class="form-control"  asp-items="Html.GetEnumSelectList<EstadoU>()"></select>
                    <span asp-validation-for="EstadoU" class="text-danger"></span>
                </div>
                        </div>

            </div>
            </div>
                <div class="form-group vstack gap-2 col-md-5 mx-auto mt-4">
                <input type="submit" value="Edit" class="btn btn-outline-primary float-right"/>
                <a class="btn" style="background-color:#2D3589; color:white;" asp-action="Index" asp-controller="Usuarios">Regresar</a>
            </div>
            </form>
            </div>
        </div>
    </div>