@using mioPharma.Data.Enums
@model Usuario
@{
    ViewData["Title"] = "Actualizando Contraseña";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4>Actualizando Clave de Ingreso</h4>
        <div class="row">
        <form asp-action="EditPassword" >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @* <label asp-for="Nombre" class="form-label"></label>*@
                     <input hidden placeholder="Ingresa tu Nombre" asp-for="Nombre" class="form-control"/>
                     <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @* <label asp-for="Apellido" class="form-label"></label>*@
                     <input hidden placeholder="Ingresa tu Apellido" asp-for="Apellido" class="form-control"/>
                     <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @* <label asp-for="Correo" class="form-label"></label>*@
                     <input hidden placeholder="example@gmail.com" asp-for="Correo" class="form-control"/>
                     <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @* <label asp-for="Clave" class="form-label"></label>*@
                     <input hidden   placeholder="Ingresa tu contraseña" asp-for="Clave" class="form-control"/>
                  <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="EstadoU" hidden class="form-control" asp-items="Html.GetEnumSelectList<EstadoU>()"></select>
                    <span asp-validation-for="EstadoU" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="TipoU" hidden class="form-control" asp-items="Html.GetEnumSelectList<TipoU>()"></select>
                    <span asp-validation-for="TipoU" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <span class="text-danger">@Html.ViewBag.MessageError</span>
                <div class="form-group">
                    <label  for="currentPassword" class="form-label">Contraseña Actual</label>
                     <input  required type="password" placeholder="Ingresa tu contraseña" name="currentPassword"  class="form-control"/>
                       <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="form-label">Nueva Contraseña</label>
                     <input type="password" pattern="^[A-Za-z0-9*-+.\$%&#!_¡¿?()]{8,100}$" placeholder="Ingresa tu contraseña" name="newPassword" class="form-control"/>
                       <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="form-group my-2 py-3">
                <input type="submit" value="Edit" class="btn btn-outline-success float-right"/>
                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Usuarios">Regresar</a>
            </div>
            
            </form>
            </div>
        </div>
    </div>