<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>No tienes permiso para acceder a esta página</h2>
        <p>Por favor, haga clic en el botón de abajo para ser redirigido a la página de inicio.</p>
        <hr />
        <p>
            <a asp-controller="Medicamentos" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>