@using mioPharma.Data.ViewModels
@model ChangePasswordVM;
@inject UserManager<ApplicationUser> UserManager;
@{
    ViewData["Title"] = "Update Password";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Actualizar Contraseña</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Lo siento!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="CurrentPassword" class="control-label"></label>
                                <div class="input-group mb-3">
                                    <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-key"></i></span>
                                    <input type="password" placeholder="Ingresa tu contraseña actual" asp-for="CurrentPassword" class="form-control" />
                                </div>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-key"></i></span>
                                    <input type="password" placeholder="Ingresa tu nueva contraseña" asp-for="Password" class="form-control" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <span class="text-white input-group-text" style="background-color: #2D3589;" id="basic-addon1"><i class="bi bi-key"></i></span>
                                    <input type="password" placeholder="Vuelve a ingresar la contraseña" asp-for="ConfirmPassword" class="form-control" />
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <input hidden  value="@UserManager.GetUserId(User)"  name="IdUser"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group vstack gap-2 col-md-5 mx-auto mt-4">
                            <input class="btn btn-outline-success float-right" type="submit" value="Actualizar" />
                            <a class="btn" style="background-color:#2D3589; color:white" asp-action="Index" asp-controller="Medicamentos">Cancelar</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>