
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Tu cuenta ha sido creada exitosamente</h2>
        <p>Ahora puede iniciar sesión en su cuenta con sus credenciales.</p>
        <hr />
        <p>
            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success">Continuar</a>
        </p>
    </div>
</div>